<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" v-cloak>

    <section class="controls">

      <rotation-input v-model="stripes[currentStripeId].rotation"></rotation-input>

      <label title="Stripes go vertically and horizontally">
        Plaid
        <input type="checkbox" v-model="stripes[currentStripeId].plaid">
      </label>

      <color-picker v-model="stripes[currentStripeId].color"></color-picker>

      <label>
        Opacity
        <input name="opacity" :value="stripes[currentStripeId].opacity" type="range" class="range" @change="onRangeChange" min="0" max="100">
        <input name="opacity" :value="stripes[currentStripeId].opacity" type="number" @change="onRangeChange" min="0" max="100">
      </label>
      <label>
        Width
        <input name="width" :value="stripes[currentStripeId].width" type="range" class="range" @change="onRangeChange" min="1" max="200">
        <input name="width" :value="stripes[currentStripeId].width" type="number" @change="onRangeChange" min="1" max="200">
      </label>
      <label>
        Gap
        <input name="gap" :value="stripes[currentStripeId].gap" type="range" class="range" @change="onRangeChange" min="1" max="200">
        <input name="gap" :value="stripes[currentStripeId].gap" type="number" @change="onRangeChange" min="1" max="200">
      </label>
      <label>
        Offset
        <input name="offset" :value="stripes[currentStripeId].offset" type="range" class="range" @change="onRangeChange" min="0" max="200">
        <input name="offset" :value="stripes[currentStripeId].offset" type="number" @change="onRangeChange" min="0" max="200">
      </label>
    </section>

    <section class="stripes">
      <button type="button" @click="onNewStripe">New Stripe</button>
      <ol>
        <draggable :list="stripes" @update="onSortUpdate">
          <li v-for="(stripe, index) in stripes" class="stripe" :class="getStripeClasses(index)" @click="onStripeClick">
            <input type="checkbox" v-model="stripe.visible">
            <div class="color-bar" :style="{ backgroundColor: stripe.color }"></div>
            <button type="button" @click="removeStripe(index)">X</button>
          </li>
        </draggable>
      </ol>
    </section>

    <color-picker v-model="bg"></color-picker>

    <patternizer v-model="dataFiltered()"></patternizer>

    <pre>{{ dataFiltered() }}</pre>

  </div>



  <script src="https://unpkg.com/vue"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"></script>
  <script src="js/jquery-2.1.0.min.js"></script>
  <script src="js/farbtastic.js"></script>
  <script src="js/patternizer.js"></script>

  <script src="script.js"></script>
</body>
</html>
